.gdbar img {
  width: 300px !important;
  height: 110px !important;
  margin: 10px 10px;
}

.gdbar {
  width: 400px !important;
  height: 130px !important;
}

slides > slide:not(.nobackground):before {
  width: 150px;
  height: 55px;
  background-size: 150px 55px;
}

footer:after {
  font-size: 12pt;
  content: attr(label);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align:center;
  bottom: 20px;
  line-height: 1.9;
  display: block;
}
pre {
  background-color: #e6e6e6; 
}
